<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.1.xsd
	
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<context:annotation-config />
	
	 <aop:aspectj-autoproxy proxy-target-class="true" /> 
	 
	 
	 <bean id="log" class="com.fdmgroup.logging.Logging"></bean>


	<!-- DateFactory -->

	<bean id="dateFormat" class="java.text.SimpleDateFormat">
		<constructor-arg value="yyyy-MM-dd" />
	</bean>

	<!-- POJOs -->
	<bean id="monopolyDollars" class="com.fdmgroup.dto.Currency"
		scope="prototype">
		<property name="currencyName" value="Monopoly" />
		<property name="conversionRate" value="1000" />
		<property name="currencyDate">
			<bean factory-bean="dateFormat" factory-method="parse">
				<constructor-arg value="2010-01-31" />
			</bean>
		</property>
	</bean>


	<!-- DAO -->
	<bean id="currencyDAO" class="com.fdmgroup.dao.CurrencyDAO" >
	</bean>
	
	<!-- Parser -->
	<bean id="parser" class="com.fdmgroup.xmlparser.DOMParser">
	</bean>




</beans>
